{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "es5",

  "bracketSpacing": true,
  "objectWrap": "preserve",
  "arrowParens": "always",
  "endOfLine": "auto",

  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,

  "proseWrap": "never"
}
